{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "Explorer >= 9",
          "Android >= 4",
          "iOS >= 8"
        ]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
