{
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"],
    "babel/semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": [2, { "before": false, "after": true }],
    "space-before-function-paren": [2, "never"],
    "arrow-parens": [2, "always"],
    "generator-star-spacing": [2, { "before": false, "after": true }]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:promise/recommended",
    "standard"
  ],
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "babel",
    "standard",
    "promise"
  ]
}
