{
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "generator-star-spacing": 0,
    "babel/arrow-parens": [2, "always"],
    "babel/generator-star-spacing": 1
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "standard",
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "babel"
  ]
}
